body {
  font-family: 'Raleway', sans-serif;
  background-color: #CC293A;
  color: #fff;
}

h1 {
  font-size: 75px;
}

h3 {
  font-size: 20px;
}

p,
.plus,
.minus {
  font-size: 30px;
  margin: 0 5px;
}

.plus,
.minus {
  cursor: pointer;
}

.header {
  text-align: center;
  padding-top: 50px;
}

.main {
  width: 400px;
  margin: 20px auto;
}

.minus,
.plus,
.break-len,
.pomo-len,
.break-time,
.pomo-time {
  display: inline-block;
  margin-top: 10px;
}

.break-time,
.pomo-time {
  padding: 20px 0;
  text-align: center;
  width: 200px;
}

.timer:hover {
  cursor: pointer;
}

.timer {
  border: 2px solid#fff;
  border-radius: 100%;
  height: 400px;

  /* Absolute center align */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timer p {
  font-size: 75px;
}
.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}